.colors{
    width: 100vw;
    height: 100vh;
    text-align: center;
    // align-items: center;
    // justify-content: center;
}

.textcontainers{
    padding-top: 45vh;
    // align-items: center;
    // justify-content: center;
    // vertical-align: center;

    // align-self: center;

    // display: block;
    // margin-left: auto;
    // margin-right: auto;
}

#graysection{
    background-color:$gray;
}

#redsection{
    background-color:$red;
}

#bluesection{
    background-color:$blue;
}

#violetsection{
    background-color: $violet;
}

#yellowsection{
    background-color: $yellow;
}