#hero{
    height: 70vh;
    width: 100vw;
    background-image: url(../img/hero-image-optimized.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;

    #herocontent{
        Color: $red;
        padding: 0px 0px;

        h1{
            font-weight: 700;
            font-size: rem-calc(60);
            padding: 0px 15vw;
        }
        h2{
            font-weight: 500;
            font-size: rem-calc(28);
            line-height: 36px;
            padding: 5px 20vw;

            @include lg{
            width: 610px;
            height: 84px;
            }

            a{
                color: $red;
            }

            a:hover, a:active{
                color: rgba(121, 0, 2, 0.5);
            }
        }
    }
}