/* =============
    Header
============= */
header{
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: black;
    z-index: 1000;

    >div{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;

        ul{
            grid-area: header;
            justify-content: space-evenly;
            justify-content: space-around;
            width: 75vw
        }
    }
}