/* =============
    Navigation
============= */
#nav-container{
    
    a{
        text-decoration: none;
    }

    li{
        a{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: medium;
            font-size: rem-calc(16);
            color: black;
        }

        #graylink:hover, #graylink:active{
            color: $gray;
        }

        #redlink:hover, #redlink:active{
            color: $red;
        }

        #bluelink:hover, #bluelink:active{
            color: $blue;
        }

        #violetlink:hover, #violetlink:active{
            color: $violet;
        }

        #yellowlink:hover, #yellowlink:active{
            color: $yellow;
        }
    }
}
